/* Estilo del canvas
  Lo bordeamos con una línea negra y le damos fondo
  azul para distinguirlo
*/

canvas {
    background-image: url("fondo.png");
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
  }
  #fondo {
    display: none;
  }
  #objetivo {
    display: none;
  }
  #caparazon {
    display: none;
  }