/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* https://developer.mozilla.org/es/docs/Web/CSS/box-sizing */
/* Así definimos el comportamiento de caja para todos los elementos */
* {
    box-sizing: border-box;
  }
  
/* Crear columnas de ancho diferente que se colocan una a continuación de la otra */
.columna {
float: left;
padding: 10px;
min-height: 500px;
}

@font-face {
    font-family: "FUENTE";
    src: url(SUPER\ PUNCH.ttf);
}

.izquierda {
width: 25%;
}

.derecha {
width: 75%;
}

/* Clear floats despues de las columnas para eliminar la superposición */
.filla:after {
content: "";
display: table;
clear: both;
}

.nombre{
    font-family: "FUENTE";
    font-size: 40px;
    text-align:center;
    background-color:rgba(255, 255, 255, 0.808);
    border-width:6px;
    border: rgb(0, 0, 0) 6px outset;
    border-radius: 10px;
}
body {
    height: 400px;
    background-image: url("fondodenji.jpg");
    background-size: cover;
    background-repeat:no-repeat;
  }
#c1 {
    background-color:rgba(255, 255, 255, 0.705);
    border-width:8px;
    border: rgb(0, 0, 0) 6px outset;
    border-radius: 10px;
}

#c2 {
    background-color:rgba(255, 255, 255, 0.808);
    border-width:2px;
    border: rgb(0, 0, 0) 6px outset;
    border-radius: 10px;
}

h2 {
    border: rgb(0, 0, 0) 2px outset;
    border-radius: 6px;
    background-color:rgb(158, 158, 158);
    position: relative;
    
}

/* estilos para imágenes https://www.w3schools.com/css/css3_images.asp */
/* posicionamiento de imágenes https://www.w3schools.com/css/css_positioning.asp */

img {
    width: 100%;
    height: auto;
}

.ñeñeñe{
    border: rgb(0, 0, 0) 2px outset;
    width: 10%;
    height: auto;
    position: absolute;
    right: 20px;
    top: 290px;
    margin-top: 1px;
    margin-right: 1px;
    margin-bottom: -140px;
    margin-left: 1px
}

.iresponsive {
    padding: 0 6px;
    float: none;  /*como se ajusta al texto*/
    width: 60%;
  }
.obj {
    padding: 0 6px;
    width: 60%;
}

/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
}

/* Más sobre diseño web responsive https://www.w3schools.com/css/css_rwd_intro.asp */